[package]
name = "dancelist"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
authors = ["Andrew Walbran <qwandor@gmail.com>"]
description = "A website for listing folk dance events."
repository = "https://github.com/qwandor/dancelist"
keywords = ["folk", "dance", "balfolk", "website"]
categories = ["web-programming"]

[dependencies]
anyhow = "1.0.56"
askama = "0.11.0"
axum = { version = "0.5.0", features = ["headers"] }
chrono = { version = "0.4.19", features = ["serde"] }
chrono-tz = { version = "0.6.1", features = ["serde"] }
color-backtrace = "0.5.1"
enum-iterator = "0.7.0"
eyre = "0.6.6"
icalendar = { version = "0.11.0", features = ["parser"] }
log = "0.4.14"
pretty_env_logger = "0.4.0"
quick-xml = { version = "0.22.0", features = ["serialize"] }
reqwest = "0.11.9"
schemars = { version = "0.8", features = ["chrono"] }
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.78"
serde_urlencoded = "0.7.1"
serde_yaml = "0.8.23"
# FIXME: shuttle doesn't seem to let you point at shuttle-service as a git dep?
# Should be unblocked by https://github.com/getsynth/shuttle/pull/118
shuttle-service = { version = "0.2.5", git = "https://github.com/getsynth/shuttle", branch = "chore/axum-0.5", features = ["web-axum"] }
stable-eyre = "0.2.2"
sync_wrapper = "0.1.1"
tokio = { version = "1.15.0", features = ["macros", "rt-multi-thread"] }
toml = "0.5.8"
tower-http = { version = "0.2.1", features = ["fs"] }

[package.metadata.deb]
section = "web"
maintainer-scripts = "debian-scripts"
conf-files = ["/etc/dancelist.toml"]
assets = [
	["target/release/dancelist", "usr/bin/", "755"],
	["public/stylesheets/*", "/usr/share/dancelist/stylesheets/", "644"],
	["dancelist.example.toml", "etc/dancelist.toml", "640"],
]

# This section needs to be here even if it's empty, for the systemd integration to work.
[package.metadata.deb.systemd-units]
