[package]
name = "dancelist"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
authors = ["Andrew Walbran <qwandor@gmail.com>"]
description = "A website for listing folk dance events."
repository = "https://github.com/qwandor/dancelist"
keywords = ["folk", "dance", "balfolk", "website"]
categories = ["web-programming"]

[dependencies]
askama = "0.12.0"
axum = { version = "0.6.18", features = ["headers", "macros"] }
axum-extra = { version = "0.7.5", features = ["form"] }
chrono = { version = "0.4.26", features = ["serde"] }
chrono-tz = { version = "0.8.3", features = ["serde"] }
color-backtrace = "0.5.1"
enum-iterator = "1.4.1"
eyre = "0.6.8"
icalendar = { version = "0.15.4", features = ["parser"] }
jsonwebtoken = "8.3.0"
log = "0.4.19"
octocrab = "0.19.0"
pretty_env_logger = "0.5.0"
quick-xml = { version = "0.29.0", features = ["serialize"] }
reqwest = "0.11.18"
schemars = { version = "0.8", features = ["chrono"] }
serde = { version = "1.0.171", features = ["derive"] }
serde_json = "1.0.103"
serde_urlencoded = "0.7.1"
serde_yaml = "0.8.26"
stable-eyre = "0.2.2"
tokio = { version = "1.29.1", features = ["macros", "rt-multi-thread"] }
toml = "0.7.6"
tower-http = { version = "0.4.1", features = ["fs"] }

[package.metadata.deb]
section = "web"
maintainer-scripts = "debian-scripts"
conf-files = ["/etc/dancelist.toml"]
assets = [
	[
		"target/release/dancelist",
		"usr/bin/",
		"755",
	],
	[
		"public/scripts/*",
		"/usr/share/dancelist/scripts/",
		"644",
	],
	[
		"public/stylesheets/*",
		"/usr/share/dancelist/stylesheets/",
		"644",
	],
	[
		"dancelist.example.toml",
		"etc/dancelist.toml",
		"640",
	],
]

# This section needs to be here even if it's empty, for the systemd integration to work.
[package.metadata.deb.systemd-units]
