@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

.event-location {
  text-align: right;
}

.dance-style.contra {
  background-color: gold;
}
.dance-style.balfolk {
  background-color: violet;
}
.dance-style.e-ceilidh {
  background-color: gray;
}
.dance-style.ceili {
  background-color: greenyellow;
}
.dance-style.irish-set {
  background-color: lightgreen;
}
.dance-style.italian {
  background-color: pink;
}
.dance-style.ecd {
  background-color: orange;
}
.dance-style.polish {
  background-color: red;
}
.dance-style.reeling {
  background-color: peachpuff;
}
.dance-style.s-ceilidh {
  background-color: thistle;
}
.dance-style.scd {
  background-color: wheat;
}
.dance-style.scandi {
  background-color: lightblue;
}

.workshop {
  background-color: darkmagenta;
  color: white;
}
.social {
  background-color: darkolivegreen;
  color: white;
}

.details {
  font-size: smaller;
}
.band,
.caller {
  padding: 0px 3px;
}
.band {
  background-color: darkseagreen;
}
.caller {
  background-color: tan;
}

.multiday .event-dates,
.multiday .event-name {
  font-weight: bold;
}

.cancelled .event-dates,
.cancelled .event-name,
.cancelled .event-location {
  text-decoration: line-through;
}

/*--- Layout ---*/

table {
  border-bottom: 1px solid gainsboro;
  border-collapse: collapse;
  width: 100%;
}
tr.event {
  border-top: 1px solid gainsboro;
}
td {
  padding: 0.25em;
}
tr.details td {
  padding-top: 0;
}

.event-dates {
  grid-area: dates;
}
.event-name {
  grid-area: name;
}
.event-links {
  grid-area: links;
}
.event-price {
  grid-area: price;
}
.event-location {
  grid-area: location;
}
.event-type {
  grid-area: type;
}
.event-styles {
  grid-area: styles;
}

/*-- Responsive queries --*/

@media (max-width: 600px) {
  .event {
    display: grid;
    grid:
      "dates price"
      "name name"
      "links location"
      "styles type"
      / auto auto;
  }
  .event-price,
  .event-type,
  .event-location {
    justify-self: end;
  }
}

/*--- Theme ---*/

:root {
  --color-primary: darkslategray;
  --color-secondary: slategray;
  --color-tertiary: ;
  --color-success: ;
  --color-warning: ;
  --color-error: ;
  --color-info: ;
  --color-text: #333333;
  --color-text-rev: #ffffff;
  --color-link: darkcyan;

  --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-cursive: "Caveat", serif;
}

body {
  font-family: var(--font-sans-serif);
  color: var(--color-text);
}

h1 {
  margin: 0.25em 0;
  font-size: min(15vw, 4em);
  font-family: var(--font-cursive);
  color: var(--color-primary);
}

h2 {
  margin: 0.5em 0;
  font-size: 2em;
  font-family: var(--font-cursive);
  color: var(--color-secondary);
}

th {
  text-align: left;
  padding: 0.5em 0;
  font-size: 2em;
  font-family: var(--font-cursive);
  color: var(--color-secondary);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:focus:not([class]),
a:hover:not([class]) {
  color: var(--color-link);
  text-decoration: underline;
}

.dance-style,
.workshop,
.social,
.band,
.caller {
  display: inline-block;
  min-width: 1em;
  border-radius: 0.25em;
  padding: 0 0.25em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  color: var(--color-text-rev);
}

.event-dates,
.event-links {
  font-style: italic;
}

.nav ul,
.nav p {
  list-style: none;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0.5em;
}

.nav li {
  display: inline;
  margin-right: 0.25em;
}

.nav ul.unpadded li {
  margin-right: 0;
}

/*--- Add event form layout ---*/

form > ul {
  list-style: none;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

form > ul > li {
  display: grid;
  grid-template-columns: 10em max-content 1fr;
  grid-template-areas:
    'label input -'
    'explanation explanation explanation';
  margin-bottom: 5px;
}

form > ul > li > label {
  grid-area: label;
}
form > ul > li > input, form > ul > li > textarea, form > ul > li > fieldset {
  grid-area: input;
}
form > ul > li > p {
  grid-area: explanation;
  margin-top: 0.1em;
  font-style: italic;
}
textarea {
  width: 30em;
  overflow: auto;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
fieldset.styles > ul {
  list-style: none;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  display: grid;
  grid-template-columns: repeat(2, max-content);
}

/*--- Add event form theme ---*/
label.required {
  font-weight: bold;
}
input:not([type=submit]):invalid, textarea:invalid {
  background-color: #ffeeee;
}
.error {
  color: #bb0000;
}