.dance-style {
  padding: 0px 3px;
}
.dance-style.contra {
  background-color: yellow;
}
.dance-style.balfolk {
  background-color: violet;
}
.dance-style.e-ceilidh {
  background-color: gray;
}
.dance-style.ceili {
  background-color: greenyellow;
}
.dance-style.irish-set {
  background-color: lightgreen;
}
.dance-style.italian {
  background-color: pink;
}
.dance-style.playford {
  background-color: orange;
}
.dance-style.reeling {
  background-color: peachpuff;
}
.dance-style.s-ceilidh {
  background-color: thistle;
}
.dance-style.scd {
  background-color: wheat;
}
.dance-style.scandi {
  background-color: lightblue;
}

.event-type .workshop {
  background-color: darkmagenta;
  color: white;
}
.event-type .social {
  background-color: darkolivegreen;
  color: white;
}

.details {
  font-size: smaller;
}
.band,
.caller {
  padding: 0px 3px;
}
.band {
  background-color: lightgreen;
}
.caller {
  background-color: palegoldenrod;
}

table {
  border-bottom: 1px solid lightgrey;
}
.event td {
  border-top: 1px solid lightgrey;
}

.multiday .event-dates,
.multiday .event-name {
  font-weight: bold;
}
