<!DOCTYPE html>
<html>

<head>
	<title>Add event</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
	<h1>Add event</h1>

	<p>In all fields, please use English if possible.</p>

	<form method="post">
		<table>
			<tr>
				<td>
					<label for="name" class="required">Name</label>
					<p>The name of the event. Try not to make it too long.</p>
				</td>
				<td><input name="name" id="name" type="text" required="required"/></td>
			</tr>
			<tr>
				<td>
					<label for="details">Details</label>
					<p>Any further details or description of the event, if you like.</p>
				</td>
				<td><textarea name="details" id="details"></textarea></td>
			</tr>
			<tr>
				<td>
					<label for="links" class="required">Links</label>
					<p>
						One or more links to details of the event. Link to the specific event if possible,
						rather than a list of events. If there is a Facebook event please include a link to it.
					</p>
				</td>
				<td><input name="links" id="links" type="url" pattern="https?://.+"/></td>
			</tr>
			<tr>
				<td>
					<label for="start_date" class="required">Start date</label>
				</td>
				<td><input name="start_date" id="start_date" type="date"/></td>
			</tr>
			<tr>
				<td>
					<label for="end_date" class="required">End date</label>
				</td>
				<td><input name="end_date" id="end_date" type="date"/></td>
			</tr>
			<tr>
				<td>
					<label for="country" class="required">Country</label>
					<p>The country in which the event will take place.</p>
				</td>
				<td>
					<input name="country" id="country" type="text" required="required" list="countries"/>
					<datalist id="countries">
						{% for country in countries %}
						<option>{{ country.name }}</option>
						{% endfor %}
					</datalist>
				</td>
			</tr>
			<tr>
				<td>
					<label for="city" class="required">City</label>
					<p>
						The city or town in which (or near which) the event will take place. If it's in the
						suburbs surrounding a large city then prefer the name of that city rather than the
						suburb.
					</p>
				</td>
				<td><input name="city" id="city" type="text" required="required" list="cities"/></td>
				<datalist id="cities">
					{% for country in countries %}
					{% for city in country.cities %}
					<option>{{ city }}</option>
					{% endfor %}
					{% endfor %}
			</datalist>
			</tr>
			<tr>
				<td><label for="styles" class="required">Dance styles</label></td>
				<td>
					<fieldset>
						<ul>
							{% for style in crate::model::dancestyle::DanceStyle::values() %}
							<li>
								<input type="checkbox" name="styles" id="styles_{{ style.tag() }}" value="{{ style.tag() }}"/>
								<label for="styles_{{ style.tag() }}" class="dance-style {{ style.tag() }}">{{ style }}</label>
							</li>
							{% endfor %}
						</ul>
					</fieldset>
				</td>
			</tr>
			<tr>
				<td><label for="workshop" class="required">Workshop</label></td>
				<td><input name="workshop" id="workshop" type="checkbox" value="true"/></td>
			</tr>
			<tr>
				<td><label for="social" class="required">Social</label></td>
				<td><input name="social" id="social" type="checkbox" value="true"/></td>
			</tr>
			<tr>
				<td><label for="bands">Bands</label></td>
				<td><input name="bands" id="bands" type="text" list="bands_datalist"/></td>
				<datalist id="bands_datalist">
					{% for band in bands %}
					<option>{{ band.name }}</option>
					{% endfor %}
				</datalist>
			</tr>
			<tr>
				<td><label for="callers">Callers</label></td>
				<td><input name="callers" id="callers" type="text" list="callers_datalist"/></td>
				<datalist id="callers_datalist">
					{% for caller in callers %}
					<option>{{ caller.name }}</option>
					{% endfor %}
				</datalist>
			</tr>
			<tr>
				<td><label for="price">Price</label></td>
				<td><input name="price" id="price" type="text"/></td>
			</tr>
			<tr>
				<td><label for="organisation">Organisation</label></td>
				<td><input name="organisation" id="organisation" type="text" list="organisations"></td>
				<datalist id="organisations">
					{% for organisation in organisations %}
					<option>{{ organisation.name }}</option>
					{% endfor %}
				</datalist>
			</tr>
		</table>
		<input type="submit" value="Add"/>
	</form>
</body>

</html>