<!DOCTYPE html>
<html>

<head>
	<title>{{ filters.make_title() }}</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	<link rel="alternate" type="text/calendar" href="/index.ics?{{ filters.to_query_string().unwrap()|safe }}" />
	<link rel="alternate" type="application/json" href="/index.json?{{ filters.to_query_string().unwrap()|safe }}" />
	<link rel="alternate" href="/index.toml?{{ filters.to_query_string().unwrap()|safe }}" />
	<link rel="alternate" href="/index.yaml?{{ filters.to_query_string().unwrap()|safe }}" />
	<meta name="google-site-verification" content="dqUAJnNacTD9meHqbEEYe728cGTcT3InVLUJECB-pk8" />
</head>

<body>
	<h1>{{ filters.make_title() }}</h1>

	{% if has_filters %}
	<p><a href="?">Show all</a></p>
	{% else %}
	<p><a href="?multiday=true">Multi-day events</a></p>
	{% endif %}

	<p>
		{% for date_filter in crate::model::filters::DateFilter::values() %}
		{% if filters.date == date_filter %}
		<strong>{{ date_filter }}</strong>
		{% else %}
		<a href="?{{ filters.with_date(date_filter.clone()).to_query_string().unwrap()|safe }}">{{ date_filter }}</a>
		{% endif %}
		{% endfor %}
		<br />

		Country:
		{% for country in countries %}
		{% if filters.country.as_ref() == Some(country.name) %}
		<strong>{{ country.name }}</strong>
		{% else %}
		<a href="?{{ filters.with_country(Some(country.name)).to_query_string().unwrap()|safe }}">{{ country.name }}</a>
		{% endif %}
		{% endfor %}
		{% if filters.country.is_some() %}
		<a href="?{{ filters.with_country(None).to_query_string().unwrap()|safe }}">All</a>
		{% endif %}

		{% if cities.len() > 1 %}
		<br />
		City:
		{% for city in cities %}
		{% if filters.city.as_ref() == Some(city) %}
		<strong>{{ city }}</strong>
		{% else %}
		<a href="?{{ filters.with_city(Some(city)).to_query_string().unwrap()|safe }}">{{ city }}</a>
		{% endif %}
		{% endfor %}
		{% if filters.city.is_some() %}
		<a href="?{{ filters.with_city(None).to_query_string().unwrap()|safe }}">All</a>
		{% endif %}
		{% endif %}

		<br />
		{% for style in styles %}
		{% if filters.style.as_ref() == Some(style) %}
		<strong class="dance-style {{ style.tag() }}">{{ style }}</strong>
		{% else %}
		<a class="dance-style {{ style.tag() }}"
			href="?{{ filters.with_style(Some(style.clone())).to_query_string().unwrap()|safe }}">{{ style }}</a>
		{% endif %}
		{% endfor %}
		{% if filters.style.is_some() %}
		<a href="?{{ filters.with_style(None).to_query_string().unwrap()|safe }}">All</a>
		{% endif %}
	</p>

	{% for month in months %}
	<h2>{{ month.name() }}</h2>
	<table>
		{% for event in month.events %}
		<tr class="event{% if event.multiday() %} multiday{% endif %}{% if event.cancelled %} cancelled{% endif %}">
			<td class="event-dates">
				{{ event.short_time() }}
			</td>
			<td class="event-name" title="{{ event.details.as_deref().unwrap_or_default() }}">
				{% match event.main_link() %}
				{% when Some with (link) %}
				<a href="{{ link }}">{{ event.name }}</a>
				{% when None %}
				{{ event.name }}
				{% endmatch %}
			</td>
			<td>
				{% for link in event.further_links() %}
				<a href="{{ link.url }}">({{ link.short_name }})</a>
				{% endfor %}
			</td>
			<td class="event-price">
				{{ event.price.as_deref().unwrap_or_default() }}
			</td>
			<td class="event-location">
				<a href="?country={{ event.country|urlencode }}&city={{ event.city|urlencode }}">{{ event.city }}</a>,
				<a href="?country={{ event.country|urlencode }}">{{ event.country }}</a>
			</td>
			<td class="event-type">
				{% if event.social %}
				<a href="?social=true" class="social" title="Social">S</a>
				{% endif %}
				{% if event.workshop %}
				<a href="?workshop=true" class="workshop" title="Workshop">W</a>
				{% endif %}
			</td>
			<td class="event-styles">
				{% for style in event.styles %}
				<a class="dance-style {{ style.tag() }}" href="?style={{ style.tag() }}">{{ style }}</a>
				{% endfor %}
			</td>
		</tr>
		{% if !event.bands.is_empty() || !event.callers.is_empty() %}
		<tr class="details">
			<td colspan="7">
				{% for band in event.bands %}
				<a href="?band={{ band|urlencode }}" class="band">{{ band }}</a>
				{% endfor %}
				{% for caller in event.callers %}
				<a href="?caller={{ caller|urlencode }}" class="caller">{{ caller }}</a>
				{% endfor %}
			</td>
		</tr>
		{% endif %}
		{% endfor %}
	</table>
	{% endfor %}

	<p>
		<a href="/bands">All bands</a> |
		<a href="/callers">All callers</a> |
		<a href="/organisations">All dance organisations</a> |
		<a href="/cities">Cities</a>
	</p>

	<p>
		<a href="https://github.com/qwandor/dancelist-data">Add or correct events</a>
	</p>
</body>

</html>