<html>

<head>
	<title>Folk dance events</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
	<h1>Folk dance events</h1>
	{% for month in months %}
	<h2>{{ month.name() }}</h2>
	<table>
		{% for event in month.events %}
		<tr>
			<td>
				{% match event.main_link() %}
				{% when Some with (link) %}
				<a href="{{ link }}">{{ event.name }}</a>
				{% when None %}
				{{ event.name }}
				{% endmatch %}
			</td>
			<td>
				{% match event.facebook_event() %}
				{% when Some with (link) %}
				<a href="{{ link }}">(Facebook)</a>
				{% when None %}
				{% endmatch %}
			</td>
			<td>
				{% for style in event.styles %}
				<span class="dance_style {{ style.tag() }}">{{ style }}</span>
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
	</table>
	{% endfor %}
</body>

</html>