<!DOCTYPE html>
<html>

<head>
	<title>Folk dance events</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
	<h1>Folk dance events</h1>

	{% if has_filters %}
	<p><a href="?">Show all</a></p>
	{% else %}
	<p><a href="?multiday=true">Multi-day events</a></p>
	{% endif %}
	{% match filters.date %}
	{% when crate::model::event::DateFilter::Future %}
	<p><a href="?date=past">Past events</a></p>
	{% when crate::model::event::DateFilter::Past %}
	<p><a href="?">Future events</a></p>
	{% when crate::model::event::DateFilter::All %}
	{% endmatch %}

	{% for month in months %}
	<h2>{{ month.name() }}</h2>
	<table>
		{% for event in month.events %}
		<tr class="event {% if event.multiday() %}multiday{% endif %}">
			<td class="event-dates">
				{% if !event.multiday() %}
				{{ event.start_date.format("%a %e") }}
				{% elseif event.start_date.month() == event.end_date.month() %}
				{{ event.start_date.format("%a %e") }}&ndash;{{ event.end_date.format("%a %e") }}
				{% else %}
				{{ event.start_date.format("%a %e") }}&ndash;{{ event.end_date.format("%a %e %B") }}
				{% endif %}
			</td>
			<td class="event-name" title="{{ event.details.as_deref().unwrap_or_default() }}">
				{% match event.main_link() %}
				{% when Some with (link) %}
				<a href="{{ link }}">{{ event.name }}</a>
				{% when None %}
				{{ event.name }}
				{% endmatch %}
			</td>
			<td>
				{% match event.facebook_event() %}
				{% when Some with (link) %}
				<a href="{{ link }}">(Facebook)</a>
				{% when None %}
				{% endmatch %}
			</td>
			<td class="event-price">
				{{ event.price.as_deref().unwrap_or_default() }}
			</td>
			<td class="event-location">
				<a href="?country={{ event.country|urlencode }}&city={{ event.city|urlencode }}">{{ event.city }}</a>,
				<a href="?country={{ event.country|urlencode }}">{{
					event.country }}</a>
			</td>
			<td class="event-type">
				{% if event.social %}
				<a href="?social=true" class="social" title="Social">S</a>
				{% endif %}
				{% if event.workshop %}
				<a href="?workshop=true" class="workshop" title="Workshop">W</a>
				{% endif %}
			</td>
			<td class="event-styles">
				{% for style in event.styles %}
				<a class="dance-style {{ style.tag() }}" href="?style={{ style.tag() }}">{{ style }}</a>
				{% endfor %}
			</td>
		</tr>
		{% if !event.bands.is_empty() || !event.callers.is_empty() %}
		<tr class="details">
			<td colspan="7">
				{% for band in event.bands %}
				<a href="?band={{ band|urlencode }}" class="band">{{ band }}</a>
				{% endfor %}
				{% for caller in event.callers %}
				<a href="?caller={{ caller|urlencode }}" class="caller">{{ caller }}</a>
				{% endfor %}
			</td>
		</tr>
		{% endif %}
		{% endfor %}
	</table>
	{% endfor %}

	<p>
		<a href="/bands">All bands</a> |
		<a href="/callers">All callers</a> |
		<a href="/organisations">All dance organisations</a> |
		<a href="/cities">Cities</a>
	</p>

	<p>
		<a href="https://github.com/qwandor/dancelist-data">Add or correct events</a>
	</p>
</body>

</html>