<!DOCTYPE html>
<html>

<head>
	<title>Folk dance organisations</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
	<h1>Folk dance organisations</h1>

	<ul>
		{% for organisation in organisations %}
		<li>
			<a href="/?organisation={{ organisation.name|urlencode }}">{{ organisation.name }}</a>
			({{ organisation.event_count }} event{% if organisation.event_count != 1 %}s{% endif %})
		</li>
		{% endfor %}
	</ul>

	<p><a href="/">Return to main page</a></p>
</body>

</html>