name: Package

on:
  push:
    branches: [main]
    tags: ["*"]

env:
  CARGO_TERM_COLOR: always
  cargo-deb-version: 1.41.6

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Cache .cargo and target
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/git
            ~/.cargo/registry
            target
          key: ${{ runner.os }}-package-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Cache cargo-deb
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/cargo-deb
            ~/.cargo/.crates.toml
            ~/.cargo/.crates2.json
          key: ${{ runner.os }}-cargo-bin-${{ env.cargo-deb-version }}

      - name: Install cargo-deb
        run: cargo install cargo-deb --version ${{ env.cargo-deb-version }}

      - name: Package
        run: cargo deb

      - name: Upload package
        uses: actions/upload-artifact@v3
        with:
          name: debian-packages
          path: target/debian/*.deb
